.App {
  text-align: center;
}

div.player-unavailable{
  pointer-events: none;
  opacity: 0.6;
}

div.player-invalid{
  background-color: #ff0000 !important;
}

#squad-wrapper{
  display:flex;
  justify-content: space-between;
}

#center-content{
  flex: 1 1 auto;
  align-items: center;
}

#left-content, #right-content{
  flex: 0 0 33%;
}

#left-content{
  margin:0 auto;
}

.formation-picker{
  margin-top:100px;
}

img{
  max-width: 100%;
}

img.pitch{
  max-width: 480px;
  max-height:600px;
}

.buttons{
  text-align: center !important;
  margin:auto auto;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
  z-index: 0 !important;
}

.hidden{
  display: none;
}

@media screen and (max-width: 600px) {
  #center-content{
    display:none;
  }
}

@media screen and (max-width: 1024px){
  #center-content{
    display:none;
  }
}